<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>Internship Project</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>adminRegistration</display-name>
    <servlet-name>adminRegistration</servlet-name>
    <servlet-class>adminRegistration</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>adminRegistration</servlet-name>
    <url-pattern>/adminRegistration</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>adminReg</display-name>
    <servlet-name>adminReg</servlet-name>
    <servlet-class>adminReg</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>adminReg</servlet-name>
    <url-pattern>/adminReg</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>users_register_servlet</display-name>
    <servlet-name>users_register_servlet</servlet-name>
    <servlet-class>users_register_servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>users_register_servlet</servlet-name>
    <url-pattern>/users_register_servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>user_login_servlet</display-name>
    <servlet-name>user_login_servlet</servlet-name>
    <servlet-class>user_login_servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>user_login_servlet</servlet-name>
    <url-pattern>/user_login_servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>forgot_password</display-name>
    <servlet-name>forgot_password</servlet-name>
    <servlet-class>forgot_password</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>forgot_password</servlet-name>
    <url-pattern>/forgot_password</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>change_password</display-name>
    <servlet-name>change_password</servlet-name>
    <servlet-class>change_password</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>change_password</servlet-name>
    <url-pattern>/change_password</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>admin_login_servlet</display-name>
    <servlet-name>admin_login_servlet</servlet-name>
    <servlet-class>admin_login_servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>admin_login_servlet</servlet-name>
    <url-pattern>/admin_login_servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>manage_profile</display-name>
    <servlet-name>manage_profile</servlet-name>
    <servlet-class>manage_profile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>manage_profile</servlet-name>
    <url-pattern>/manage_profile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>update_profile_servlet</display-name>
    <servlet-name>update_profile_servlet</servlet-name>
    <servlet-class>update_profile_servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>update_profile_servlet</servlet-name>
    <url-pattern>/update_profile_servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ImageServlet</display-name>
    <servlet-name>ImageServlet</servlet-name>
    <servlet-class>ImageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ImageServlet</servlet-name>
    <url-pattern>/ImageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>manage_venue_servlet</display-name>
    <servlet-name>manage_venue_servlet</servlet-name>
    <servlet-class>manage_venue_servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>manage_venue_servlet</servlet-name>
    <url-pattern>/manage_venue_servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>view_profile</display-name>
    <servlet-name>view_profile</servlet-name>
    <servlet-class>view_profile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>view_profile</servlet-name>
    <url-pattern>/view_profile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>booking_form_servlet</display-name>
    <servlet-name>booking_form_servlet</servlet-name>
    <servlet-class>booking_form_servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>booking_form_servlet</servlet-name>
    <url-pattern>/booking_form_servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteVenueServlet</display-name>
    <servlet-name>DeleteVenueServlet</servlet-name>
    <servlet-class>DeleteVenueServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteVenueServlet</servlet-name>
    <url-pattern>/DeleteVenueServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>update_form_servlet</display-name>
    <servlet-name>update_form_servlet</servlet-name>
    <servlet-class>update_form_servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>update_form_servlet</servlet-name>
    <url-pattern>/update_form_servlet</url-pattern>
  </servlet-mapping>
</web-app>